<h1>Users#index</h1>

<table>
    <% @users.each do |user| %>
      <tr>
        <td><%=user.name%></td>
        <td><%=user.mobile%></td>
        <td><%=user.email%></td>
        <td><%=user.password_digest%></td>
        <td>
          <%= form_for user, method: "delete", url: user_path(user) do |f| %>
            <%= f.submit "Delete" %>
          <% end %>
        </td>
      </tr>
    <% end %>

</table>
