<%= form_for @doctor, {url: doctors_path, method: "post"}  do |f| %>
  <div class="field">
    <%= f.text_field :name, {class: "form-control input-lg", placeholder: "Name"} %>
  </div>
  <div class="field">
    <%= f.text_field :email, {class: "form-control input-lg", placeholder: "Email"} %>
  </div>
  <div class="field">
    <%= f.text_field :district, {class: "form-control input-lg", placeholder: "District"} %>
  </div>
  <div class="field">
    <%= f.text_field :address, {class: "form-control input-lg", placeholder: "Address"} %>
  </div>
  <div class="field">
    <%= f.text_field :phone, {class: "form-control input-lg", placeholder: "Phone"} %>
  </div>
  <div class="field">
    <%= f.password_field :password, {class: "form-control input-lg", placeholder: "Password"} %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation,{class: "form-control input-lg", placeholder: "Confirmed Password"} %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit", {class: "btn btn-primary btn-lg"} %>
  </div>
<% end %>
