<h1>Doctors#index</h1>

<table>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%=doctor.name%></td>
        <td><%=doctor.email%></td>
        <td><%=doctor.district%></td>
        <td><%=doctor.address%></td>
        <td><%=doctor.phone%></td>
        <td><%=doctor.password_digest%></td>
        <td>
          <%= form_for doctor, method: "delete", url: doctor_path(doctor) do |f| %>
            <%= f.submit "Delete" %>
          <% end %>
        </td>
      </tr>
    <% end %>

</table>